.col-dim  {
    margin-top: 1vw;
    margin-bottom: 1vw;
}
/*.dim-col  {
    margin-bottom: 0.3vw;
    margin-left: 0.3wv;
}*/
.but-st  {
    margin: 5px auto;
}  
.prog-st  {
    height: 50px;
}
.bar-dim    {
    padding: 5px 0;
}
a   {
    margin-left: 3.3vw;
}
